<!DOCTYPE html>
<html style="background-color: #fff;">

<head></head>

<body>
    <div class="bbfont" style="margin:5%;border: 2px solid #40c1c5;padding: 0px;font-family: 'Open Sans','open-sans',sans-serif;background: #fff;/*border-top: 3px solid #3965aa;*/font-size: 14px;line-height: 27px;margin-bottom:20px;padding:20px;max-width:500px;margin-left:auto;margin-right:auto">
        <div style="text-align: center; margin-top: 0px;margin-bottom: 20px;">
            <a href="www.qbera.com" target="_blank">


                <img src="https://ci5.googleusercontent.com/proxy/SJtqy_K5DpzNhV5xPb-P7zLkI167Ztkyk-z7yTubw8kmvyuU6xPWPTPduNibewNyrUBFbgblhijkn1BLFru1frvivmHU2wSfSOcoLJaB7XRIbAcdSBvtVJmeHQXAy0GTtbSk6aU7OQpwCReuJnPiv1ylfh4quFO5ddRLDjxoOXMxlSf6fvlx4LKvVbH7zPxrTmXU_CnKQ4inKRNSflOmldHK_dckmNckfEJfC1nmOZ4Rdczwhrlt3rD1INc5wm18wkGcDS_k-A0AyYPNwN8MFN-Q8_7zi-8=s0-d-e1-ft#https://marketing-image-production.s3.amazonaws.com/uploads/a0aee97d2ec9c3e1c4225e6fb78368d43b28124312a2c3dd3a4c0cff8883fccfe9988b6c9529fc2c1e87ed9323bbf32dd795441ca0423bc3b06bedefe03f5bbd.png"
                    style="width:80px;max-width:80%">
        </div>
        </a>
        <hr style="border-color: #ececec; box-shadow: none;border-style: solid;margin-top: 10px;border-bottom: none;margin-bottom: 5px;">

        <div style="padding: 5px;" class="maincontent">

            <div>
                <p style="margin:0; margin-bottom:20px;">Hi {{Name}},</p>
                <p style="margin:0; margin-bottom:20px;">Thanks for your interest in Qbera. We will not be able to approve your loan application as it did not meet
                    our qualifying criteria. However, you may be eligible for an RBL Credit Card, kindly apply here:</p>
                <a href="https://goo.gl/cb18pH" style="background:#40c1c5; color:#fff; display:table; font-size:15px; margin:5px auto; padding: 5px 6px; text-align: center; text-decoration: none;">CREDIT CARD APPLICATION</a>
                <p style="margin:0; margin-bottom:20px;">Regards,
                    <br>Team Qbera</p>
            </div>
        </div>
        <hr style="border-color: #ececec; box-shadow: none;border-style: solid;margin-top: 10px;border-bottom: none;margin-bottom: 0px;">
        <div style="text-align:center;font-size: 12px;max-width: 600px;color:#9c9c9c;padding:30px 20px;margin-left: auto;margin-right: auto;line-height: 20px;">
            <div class="referral" style="padding:30px">
                <p class="m_1386089624576925631m_-4441964335100209384intercom-align-left" style="line-height: 28px;margin:0 0 17px;text-align:left!important;color: #7b7878;font-weight: 400;letter-spacing: 0px;"
                    align="left">
                    <b style="color:#3461ae;font-weight: 600;font-size: 15px;letter-spacing: 0.4px;line-height: 50px;font-family: Open Sans,Arial, Helvetica, sans-serif !important;line-height:30px">
                        Refer a Friend </b>
                    <br> We are glad to bring you a super way to make money! Refer your friends for a Qbera personal loan and
                    get Rs. 2000 or 2% (whichever is higher) of the total loan amount taken by your friends. You can signup
                    for our referral program and start sharing here: </p>


                <a class="m_1386089624576925631m_-4441964335100209384intercom-h2b-button" href="https://www.qbera.com/referral.php" style="background-color: #ffffff;border: 1px solid #3561ad;border-radius:5px;color: #3561ad;display:inline-block;font-size: 13px;font-weight: 600;min-height:20px;text-decoration:none;padding:5px 25px;text-transform:uppercase;letter-spacing: 2px;font-family: Open Sans,Arial, Helvetica, sans-serif !important;"
                    target="_blank">Refer a Friend</a>
            </div>

        </div>
    </div>
    <div>
        <div style="font-family: 'Open Sans','open-sans',sans-serif;text-align:center;font-size:11px;color:#9c9c9c;">
            This email was sent by Qbera - a digital lending platfrom crafted in Bangalore
            <p style="
            font-size: 9px;
            max-width: 500px;
            margin-left:  auto;
            margin-right:  auto;
            line-height:  19px;
            padding-top:  0px;
            margin-top: 4px;">Qbera reserves the right to cancel, suspend, and/or modify the offer for any reason, including for fraud, technical
                limitations and failures, or causes that impact the integrity of the offer.</p>
        </div>
</body>
<style>
    @media all and (max-width:500px) {
        .bbfont {
            font-size: 12px
        }
    }
</style>

</html>