<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Back Office</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: #888;
		}
	</style>
</head>

<body>
	<div style="background:#fff; padding:20px;">


		<table width="500" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:calibri; font-size:16px;line-height:24px; border:2px solid #40c1c5; padding:20px;">

			<tr>
				<td>
					<table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
						<tbody>

							<tr>
								<td></td>
								<td align="center" style="border-bottom:1px solid #ddd;">
									<img style="height:50%" src="{{qberalogo}}" alt=""> </td>
								<td></td>
							</tr>

						</tbody>
					</table>
				</td>
			</tr>


			<tr>
				<td style="padding-top:10px;">
					<p style="margin:0; margin-bottom:20px;color:#222;">Hi {{Name}},</p>

					<p style="margin:0; margin-bottom:15px;color:#222;">
						<span>We require your salary bank account PDF statement for the period of last 6 months till date. Please upload the statement
							in your Qbera account so that we can process your loan application quickly. Click </span>
						<a href="http://help.qbera.com/where-do-i-find-my-bank-statement">here</a> for instructions on how to download your bank statement(s) from your net banking account.</p>
				</td>
			</tr>
			<tr style="margin-left: 20px">
				<td>

					<ul style="margin:0px; padding:0px 0px 0px 18px;">
						<li>
							<p style="font-size: 9.0pt; font-family:Arial; color:#222;; letter-spacing: .3pt; margin-top:5px; margin-bottom:5px;">Please&nbsp;
								<b>ensure</b>&nbsp;your bank statement(s) is / are in&nbsp;
								<b>bank-generated, PDF format</b>&nbsp;(pictures, scans and edited files can NOT be processed). You may upload multiple
								files.</p>
						</li>
					</ul>
				</td>
			</tr>

			<tr style="margin-left: 20px">
				<td>

					<ul style="margin:0px; padding:0px 0px 0px 18px;">
						<li>
							<p style="font-size: 9.0pt; font-family:Arial; color:#222; letter-spacing: .3pt; margin-top:5px; margin-bottom:5px;">
								<b> Do not tamper</b> with the file in any way, including converting files or merging them.</p>
						</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td style="padding-top:20px;">
					<a href="<<qberalink>>" style="background:#40c1c5; color:#fff; display:table; font-size:16px; margin:10px auto; padding: 10px 6px; text-align: center; text-decoration: none;">Upload Documents</a>

					<p style="margin:0; margin-bottom:20px;color:#222;">Alternatively, you can reply to this email by attaching the documents. </p>

					<p style="margin:0; margin-bottom:20px;color:#222;">In case you require any assistance then please feel free to call us on our toll-free number 1800 4198 121 or WhatsApp
						us on +91 89 71 92 84 84.</p>
					<p style="margin:0; margin-bottom:20px;color:#222;">Regards,
						<br> Team Qbera</p>

				</td>
			</tr>
			<tr>

				<td style="border-top:1px solid #ccc;color:#222;">
					<p>Qbera reserves the right to cancel, suspend, and/or modify the offer for any reason, including for fraud, technical
						limitations and failures, or causes that impact the integrity of the offer.</p>
				</td>
			</tr>


			<tr style=" text-align:center;">
				<td>
					<span style="color:#b9b9b9; font-size:14px;color:#222;">This email was sent by Qbera - a digital lending platfrom crafted in Bangalore</span>
				</td>
			</tr>


		</table>
	</div>
</body>

</html>