<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8' />
      <title>UTM tag report summary</title>
      <style>body{ margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px;  color:#888;}</style>
   </head>
   <body>
	 <div style='background:#fff; padding:20px;'><table width='500' border='0' cellspacing='0' cellpadding='0' align='center'  style='font-family:calibri; font-size:16px;line-height:24px; border:2px solid #40c1c5;padding:20px;'>
		<tr>
		<td>
			<p style='margin:0; margin-bottom:20px; '>Hi {{firstname}},</p>
			</td>
		</tr>
		<tr>
		<td>
			<p>Please find attached dump of applications of {{todate}} with Loan amount, initial offer amount, final offer amount and UTM tag. </p>
			</td>
		</tr>
		
		
		
	</div>
</html>