<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8' />
      <title>Status report summary</title>
      <style>body{ margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px;  color:#888;}
		table,tr {
    border: 1px solid;
}
.test td{
border: 1px solid;
padding: 5px;
}
	  </style>
   </head>
   <body>
	 <div style='background:#fff; padding:20px;'><table width='500' border='0' cellspacing='0' cellpadding='0' align='center'  style='font-family:calibri; font-size:16px;line-height:24px; border:2px solid #40c1c5;padding:20px;'>
		<tr>
		<td>
			<p style='margin:0; margin-bottom:20px; '>Hi {{firstname}},</p>
			</td>
		</tr>
		<tr>
		<td>
			<p>Please find the CE-Application status of {{todate}} </p>
			</td>
		</tr>
		<tr>	
			<td>
			<table class='test'>
				<thead>
                <tr>
                        <td style='text-align:center;'' colspan='3'><b>APPLICATION STATUS</b></td>
                </tr>
				<tr>
                        <td><b>Sr</b></td>
						<td><b>Application Status</b></td>
						<td><b>Count</b></td>
                </tr>
				</thead>
				<tbody>
				{{#each ListCount}}
                <tr>
                        <td>{{index}}</td>
                        <td>{{Title}}</td>
                        <td>{{DataValue}}</td>
                </tr>
                {{/each}}
				<tr>
                        
                        <td colspan = '2'><b>Total</b></td>
                        <td><b>{{totalcount}}</b></td>
                </tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td>
				 
			</td>
		</tr>
		</table>
		
		
	</div>
</html>