<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Application Update - Qbera</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #888;
        }
    </style>
</head>

<body>
    <div style="background:#fff; padding:20px;">


        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:calibri; font-size:16px;line-height:24px; border:2px solid #40c1c5; padding:20px;">
            <tr>
                <td>
                    <table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>

                            <tr>
                                <td></td>
                                <td align="center" style="border-bottom:1px solid #ddd;">
                                    <img style="height:50%" src="https://crex-cdn.s3.amazonaws.com/templates/logo.png" alt="">
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px;">
                    <p style="margin:0; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
                        Hi,
                    </p>
                    <p style="margin:0; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
                        Qbera has updated an application with Application Number {{applicationNumber}} in your dashboard.
                    </p>
                    <p style="margin:0; margin-bottom:20px;">Regards,
                        <br> Team Qbera</p>
                </td>
            </tr>
            <tr>
                <td style="border-top:1px solid #ccc;">
                    <p>Qbera reserves the right to cancel, suspend, and/or modify the offer for any reason, including for fraud,
                        technical limitations and failures, or causes that impact the integrity of the offer.</p>
                </td>
            </tr>
            <tr style=" text-align:center;">
                <td>
                    <span style="color:#b9b9b9; font-size:14px;">This email was sent by Qbera - a digital lending platfrom crafted in Bangalore</span>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>